<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dinographic</title>
    <!-- Include Google fonts: Frijole, Open Sans, Oswald -->
    <link href="https://fonts.googleapis.com/css?family=Frijole|Open+Sans|Oswald&display=swap" rel="stylesheet">
    <!-- Normalize browser styles -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet">
    <link href="app.css" rel="stylesheet">
    <!-- Link to app.js with defer till HTML render -->
    <script defer src="app.js"></script>
</head>
<body>
    <header>
        <h2>Natural History Museum</h2> 
        <h1>Dinosaurs</h1>
        <h3>How do you compare?</h3>
    </header>
    <!-- Form to get user input -->
    <form id="dino-compare">
        <div class="form-container">
            <p>Name:</p>
            <input id="name" class="form-field__full" type="name" name="name">
            <p>Height</p>
            <label>Feet: <input id="feet" class="form-field__short" type="number" name="feet"></label>
            <label>inches: <input id="inches" class="form-field__short" type="number" name="inches"></label>
            <p>Weight:</p>
            <label><input id="weight" class="form-field__full" type="number" name="weight">lbs</label>
            <p>Diet:</p>
            <select id="diet" class="form-field__full" name="diet">
                <option>Herbavor</option>
                <option>Omnivor</option>
                <option>Carnivor</option>
            </select>
              <div id="btn">Compare Me!</div>
          </div>
      </form>
      <!-- .grid to attach tiles to -->
      <main id="grid">
            <div class="grid-item" id=".grid-item:nth-child(1)">
              <h2 id="C1">Column 1</h2>
              <img src="/images/anklyosaurus.png" alt="Dino 1">
              <h3 id="species">Species ...</h3>
              <h3 id="weight">Weight ...</h3>
              <h3 id="height">Height ...</h3>
              <h3 id="et">Diet ...</h3>
              <h3 id="where">Where ...</h3>
              <h3 id="when">When ...</h3>
              <h3 id="fact">Fact ...</h3>
            </div>
            <div class="grid-item" id=".grid-item:nth-child(2)">
              <h2>Column 2</h2>
              <img src="/images/brachiosaurus.png" alt="Dino 1"> 
              <h3>Species ...</h3>
              <h3>Weight ...</h3>
              <h3>Height ...</h3>
              <h3>Diet ...</h3>
              <h3>Where ...</h3>
              <h3>When ...</h3>
              <h3>Fact ...</h3>
            </div>
            <div class="grid-item" id=".grid-item:nth-child(3)">
              <h2>Column 3</h2>
              <img src="/images/elasmosaurus.png" alt="Dino 1">
              <h3>Species ...</h3>
              <h3>Weight ...</h3>
              <h3>Height ...</h3>
              <h3>Diet ...</h3>
              <h3>Where ...</h3>
              <h3>When ...</h3>
              <h3>Fact ...</h3>
            </div>
            <div class="grid-item" id=".grid-item:nth-child(4)">
              <h2>Column 4</h2>
              <img src="/images/pteranodon.png" alt="Dino 1">
              <h3>Species ...</h3>
              <h3>Weight ...</h3>
            <h3>Height ...</h3>
            <h3>Diet ...</h3>
            <h3>Where ...</h3>
            <h3>When ...</h3>
            <h3>Fact ...</h3>
          </div>
          <div class="grid-item" id=".grid-item:nth-child(5)">
            <h2>Column 5</h2>
            <img src="/images/human.png" alt="Dino 1">
            <h3>Species ...</h3>
            <h3>Weight ...</h3>
            <h3>Height ...</h3>
            <h3>Diet ...</h3>
            <h3>Where ...</h3>
            <h3>When ...</h3>
            <h3>Fact ...</h3>
          </div>
          <div class="grid-item" id=".grid-item:nth-child(6)">
            <h2>Column 6</h2>
            <img src="/images/stegosaurus.png" alt="Dino 1"> 
            <h3>Species ...</h3>
            <h3>Weight ...</h3>
            <h3>Height ...</h3>
            <h3>Diet ...</h3>
            <h3>Where ...</h3>
            <h3>When ...</h3>
            <h3>Fact ...</h3>
          </div>
          <div class="grid-item" id=".grid-item:nth-child(7)">
            <h2>Column 7</h2>
            <img src="/images/triceratops.png" alt="Dino 1"> 
            <h3>Species ...</h3>
            <h3>Weight ...</h3>
            <h3>Height ...</h3>
            <h3>Diet ...</h3>
            <h3>Where ...</h3>
            <h3>When ...</h3>
            <h3>Fact ...</h3>
          </div>
          <div class="grid-item" id=".grid-item:nth-child(8)">
            <h2>Column 8</h2>
            <img src="/images/tyrannosaurus rex.png" alt="Dino 1"> 
            <h3>Species ...</h3>
            <h3>Weight ...</h3>
            <h3>Height ...</h3>
            <h3>Diet ...</h3>
            <h3>Where ...</h3>
            <h3>When ...</h3>
            <h3>Fact ...</h3>
          </div>
          <div class="grid-item" id=".grid-item:nth-child(9)">
            <h2>Column 9</h2>
            <img src="/images/pigeon.png" alt="Dino 1">
            <h3>Species ...</h3>
            <h3>Weight ...</h3>
            <h3>Height ...</h3>
            <h3>Diet ...</h3>
            <h3>Where ...</h3>
            <h3>When ...</h3>
            <h3>Fact ...</h3>
          </div>
    </main>
    <footer>
        <!-- Include information source -->
        <p class="fine-print">Data Sourced from <a href="https://www.wikipedia.org/">Wikipedia.org</a>, all numbers are approximations.</p>
    </footer>
</body>
</html>
